<div class="background-image">
  <div class="container banner-text">
    Managing poker tournament games?<br />
    <span><%= link_to "Let me help.", '#', class: "splash-link" %></span>
  </div>
</div>
